.section {
  &--projects-list-page {
    flex: 1;

    .container-fluid, .row {
      height: 100%;
    }
  }
}

.projectsListPage {
  .footer {
    &--inner {
      position: fixed;
      bottom: 0;
      z-index: 1000;
      background-color: $white;
    }
  }
}

.projects {
  margin: 50px 0 0;

  &_image {
    display: block;
    margin: 0 auto;
  }

  &_filter {
    padding: 50px 0;
  }

  &_list {

  }
}

.projects-image {
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;

  &_project_wrap {

  }

  &_row {
    display: flex;
    flex-flow: row wrap;
    //justify-content: center;
    //align-content: center;
  }

  &_item {
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 150px;
    border: 1px solid $black;
    margin: 2px;
    overflow: hidden;
  }

  .point {
    position: absolute;
    border-radius: 50%;
    border: 1px solid $black333;

    &--corner {
      &-tl{
        transform: translate(-50%, -50%);
        top: 0;
        left: 0;
      }
      &-tr{
        transform: translate(50%, -50%);
        top: 0;
        right: 0;
      }
      &-bl{
        transform: translate(-50%, 50%);
        bottom: 0;
        left: 0;
      }
      &-br{
        transform: translate(50%, 50%);
        bottom: 0;
        right: 0;
      }
    }

    &--middle {
      &-l{
        transform: translate(-50%, -50%);
        left: 0;
        top: 50%;
      }

      &-r{
        transform: translate(50%, -50%);
        right: 0;
        top: 50%;
      }

      &-b{
        transform: translate(-50%, 50%);
        bottom: 0;
        left: 50%;
      }

      &-t{
        transform: translate(-50%, -50%);
        top: 0;
        left: 50%;
      }
    }

    &--center {
      transform: translate(-50%, -50%);
      top:50%;
      left: 50%;
    }
  }
}

@media #{$viewport-1200} {

}

@media #{$viewport-992} {

}

@media #{$viewport-768} {

}

@media #{$viewport-480} {

}

@media #{$viewport-320} {

}
