.section {
  &--project-page {
    flex: 1;

    .container-fluid, .row {
      height: 100%;
    }
  }
}

.project-page {
  width: 50%;
  margin: 0 auto;
  position: relative;

  &_slider {
    &:hover {
      .slider_help {
        opacity: 1;
      }
    }
  }

  &_image {
    top: -240px;
    right: -150px;
    position: absolute;
  }

  &_header {
    font-family: $font-family-moolboran;
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
    margin: 0 0 50px;
    position: relative;
    background-color: $white;
    text-align: center;

    @media #{$viewport-480} {
      font-size: 36px;
      line-height: 40px;
      margin: 20px 0;

      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &_text {
    font-size: 16px;
    line-height: 32px;
    margin: 0;

    li {
      list-style: disc inside none;
    }

    @media #{$viewport-480} {
      display: none;
    }
  }

  &_buttons {
    margin: 50px 0 0;

    .button:first-child {
      margin: 0 20px 10px 0;
    }

    @media #{$viewport-480} {
      margin: 20px 0 0;
    }
  }


  @media #{$viewport-1200} {
    width: 100%;
  }
}

.slider {
  position: relative;
  overflow: hidden;

  .slick-slide {
    margin: 0 10px 0 0;

    @media #{$viewport-480} {
      margin: 0;
    }
  }

  &_help {
    @extend .transition;
    opacity: 0;
    text-align: center;

    @media #{$viewport-1200} {
      display: none;
    }

    &:hover {
      .slider_help {
        opacity: 1;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      margin: 10px;
      color: $black333;
    }
  }

  &_item {
    position: relative;
    //text-align: center;
    //line-height: 200px;

    display: inline-block;
    width: 200px;
    height: 200px !important;
    //border: 1px solid $black;
    background-color: #eee;
    cursor: pointer;

    &:hover {
      .show-image {
        opacity: 1;
      }
    }

  }

  &_wrapper {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .show-image {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.5);
    cursor: default;
    transition: opacity .3s ease-in-out;

    i {
      color: $white;
      cursor: pointer;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
