@import "../utils/vars";
@import "../theme/theme";

.animation-link {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 0.5px;

    @include themify($themes) {
      background: themed('linkColor');
    }
    transform-origin: 100% 0;
    transform: scaleX(0);
    animation: line_hover_out .5s cubic-bezier(.785, .135, .15, .86) both;
  }
}

.header-font {
  font-family: $font-family-glacial;
  font-weight: bold;
  text-transform: uppercase;

  @include themify($themes) {
    color: themed('headerTextColor');
  }
}

h1, .h1 {
  @extend .header-font;
  font-size: 60px;
}

h2, .h2 {
  @extend .header-font;
  font-size: 56px;
}

h3, .h3 {
  @extend .header-font;
  font-size: 46px;
}

h4, .h4 {
  @extend .header-font;
  font-size: 36px;
}

h5, .h5 {
  @extend .header-font;
  font-size: 26px;
}

h6, .h6 {
  @extend .header-font;
  font-size: 16px;
}

.text {
  &_header {

  }

  &_body {

  }
}

.link {
  color: $black;
  text-decoration: none;
  font-family: $font-family-moolboran;
  font-weight: bold;
  @include themify($themes) {
    color: themed('linkColor');
  }

  &:link {

  }

  &:active {

  }

  &:visited {

  }
}

.change-lang {
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: $font-family-moolboran;
  font-size: 24px;
  text-align: center;
  padding: 0;
}

.button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 20px 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-family-moolboran;
  font-weight: bold;
  @extend .transition;

  @include themify($themes) {
    border: 1px solid themed('linkColor');
    color: themed('linkColor');
  }

  &:hover:not([disabled]),
  &--active:not([disabled]){
    @include themify($themes) {
      color: themed('backgroundColor');
      background-color: themed('linkColor');
    }
  }


  @media #{$viewport-768} {
    padding: 10px 20px;
    margin-bottom: 10px !important;
    width: 100%;
  }

  @media #{$viewport-320} {

  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image-center {
  position: relative;

  &:before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
  }

  img {
    display: inline-block;
    vertical-align: middle;
  }
}

.transform-text-left {
  position: absolute;
  width: 240px;
  height: 50px;
  bottom: 0;
  top: 0;
  left: -95px;
  margin: auto;
  transform-origin: center;
  transform: rotate(-90deg);
}

.form {
  position: relative;
  .input,
  .textarea {
    width: 100%;
    background-color: $white;
    line-height: 40px;
    font-family: $font-family-moolboran;
    font-size: 16px;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
  }


  .textarea {
    height: 200px;
    resize: none;
  }

  &_buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media #{$viewport-1200} {
      justify-content: space-around;
    }

    .button {
      min-width: 220px;
      margin-bottom: 20px;
      background-color: $white;

      &[disabled]{
        cursor: not-allowed;
      }

      @media #{$viewport-480} {
        min-width: auto;
      }
    }
  }

  &_input {
    margin: 0 0 20px;
    padding: 0 10px;
    border: 1px solid $black;
    position: relative;

    &:last-child {
      margin: 0;
    }

    &--input {

    }

    &--textarea {

    }

    &--button {
      float: right;
      border: none;
      padding: 0;
    }
  }

  &_required {
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    color: $red;
    left: calc(100% + 5px);
    top: 0;
    bottom: 0;
    display: flex;
    width: 40px;
    height: 40px;
    flex-flow: column nowrap;
    justify-content: center;
  }
}


@media #{$viewport-320} {

}

@media #{$viewport-480} {

}

@media #{$viewport-768} {

}

@media #{$viewport-992} {

}
