@import "../utils/vars";

.footer {
  background-color: $black333;

  &--inner {
    width: 100%;
    background-color: $white;
    display: flex;
    min-height: 50px;
    flex-flow: row nowrap;
    align-items: center;

    .copyright {
      color: $black;
      padding: 0 30px;
      flex: 1;
      text-align: right;

      @media #{$viewport-768} {
        .rights {
          display: none;
        }
      }

      @media #{$viewport-480} {
        .name {
          display: none;
        }
      }
    }
  }
}

.copyright {
  padding: 10px 0;
  color: $white;
  text-transform: uppercase;
  font-family: $font-family-moolboran;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
