.scroll-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  cursor: pointer;

  svg {
    width: 70px;
    height: 70px;

    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}